/* Estilos para o botão de saldo */
nav .btn-saldo {
    background-color: #28a745;
    color: #737373;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav .btn-saldo:hover {
    background-color: #218838;
}

/* Estilos para a seção de valor por avaliação */
.avaliacao-info {
    background-color: #737373;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
}

.avaliacao-info p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.hero .btn {
    background-color: #ff5733;
    color: #737373;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #c74029;
}

/* Estilo do Rodapé */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #737373; /* Cor do fundo do rodapé */
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.footer button {
    background-color: #fff;
    color: #737373;
    font-size: 14px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.footer button:hover {
    background-color: #e91e63;  /* Cor da logo */
    color: white;
}

.footer button.active {
    background-color: #e91e63;
    color: white;
}

/* Estilos gerais */
button {
    background-color: #e91e63; /* Cor da logo */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d81b60;
}

.saldo {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.home-button {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #d81b60;
}