/* Resetando estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilos Gerais */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav .btn-cadastro {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

nav .btn-cadastro:hover {
    background-color: #c74029;
}

/* Seção Hero */
.hero {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero .btn {
    background-color: #ff5733;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #c74029;
}

/* Rodapé */
footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media (max-width: 768px) {
    header .logo h1 {
        font-size: 1.5em;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero .btn {
        font-size: 1em;
        padding: 10px 20px;
    }
}
