<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Sobre o Nosso Site</h1>
    <p>Bem-vindo à página sobre do nosso site.</p>
    <nav>
        <a href="/">Página Inicial</a>
    </nav>
</body>
</html>
